.game-title-card[b-9auu50wvcs] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    margin-top: -188px;
    gap: 32px;
    max-width: 1080px;
    z-index: 1;

    background-color: rgba(24,26,27,0.75);
    border-radius: 20px;
}

.game-title-cover[b-9auu50wvcs] {
    border-radius: 20px;
}

.game-title-summary[b-9auu50wvcs] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    min-height: 350px;
}

h2[b-9auu50wvcs] {
    color: white;
    font-size: 3rem;
    border-bottom: 4px solid white;
}

p[b-9auu50wvcs] {
    color: white;
    margin: 0;
    text-indent: 3rem;
}