.game-card[b-t3qipg2lkx] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 180px;
    height: 360px;
    gap: 8px;
    margin: 8px;

    border: 1px solid transparent;
    box-shadow: 0px 5px 10px #121212;
    background-color: #121212;
    color: white;
}
.game-card:hover[b-t3qipg2lkx] {
    cursor: pointer;
    transform:scale(1.02);
}

.game-card-info[b-t3qipg2lkx] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: fit-content;
    padding: 8px;
    width: 100%;
}

.game-card-image[b-t3qipg2lkx] {
    width: 180px;
    height: 256px;
}

.game-card-name[b-t3qipg2lkx] {
    text-align: center;
}

p[b-t3qipg2lkx] {
    margin: 0;
}