.genre-card[b-ayopgvqshu] {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor:pointer;

    padding: 16px;
    margin: 4px;
    border-radius: 10px;
    width: 140px;
    height: 80px;

    color: white;
    background-color: #121212;
    border: 2px solid #121212;
    box-shadow: 0px 5px 10px #121212;
}

.genre-card:hover[b-ayopgvqshu] {
    transform:scale(1.05);
}

.green[b-ayopgvqshu] {
    border: 2px solid rgb(66, 156, 66);
}

.red[b-ayopgvqshu] {
    border: 2px solid rgb(167, 35, 35);
}

.blue[b-ayopgvqshu] {
    border: 2px solid rgb(42, 51, 182);
}