.genre-selection[b-tn3ymew7ud] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 8px;
    max-width: 1080px;
    padding: 8px;
}

.genre-selector[b-tn3ymew7ud] {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    
    width: 140px;
    height: 40px;
    padding: 8px;
    
    border: 2px solid white;
    border-radius: 10px;
    color: white;

    cursor:pointer;
    box-shadow: 0px 5px 10px #121212;
}

.genre-selector:hover[b-tn3ymew7ud] {
    background-color: rgb(230, 230, 230);
    color: black;
    border-color: #fffc5a;
}

.selected[b-tn3ymew7ud] {
    background-color: rgb(230, 230, 230);
    color: black;
    border-color: #fffc5a;
}