.home-container[b-383in698in] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 32px;

    width: 100%;
}

.section-header[b-383in698in] {
    margin-top: 32px;
    text-align: center;
    color: white;
    border-bottom: 2px solid #fffc5a;
    padding-bottom: 8px;
}