<footer class="main-footer">
    <div class="footer-content">
        <p>Website Powered By</p>
        <p>IGDB</p>
    </div>

    <div class="footer-content">
        <p>Created By</p>
        <section class="socials">
            <p>Github</p>
            <p>Mail</p>
        </section>
    </div>
</footer>