<footer class="main-footer">
    <div class="footer-content">
        <p>Website Powered By</p>
        <p>IGDB</p>
    </div>

    <div class="footer-content">
        <p>Created By</p>
        <section class="socials">
            <img class="socials-image" src="/icons/github.svg" width="32" height="32"/>
            <img class="socials-image" src="/icons/mail.svg" width="32" height="32"/>
        </section>
    </div>
</footer>