<nav class="main-navbar">
    <section class="nav-section">
        <a class="logo">GameSpace</a>
    </section>
    
    <section class="nav-section">
        <form>
            <input class="rad-10" type="text" id="fname" name="fname">
            <button class="rad-10">Search</button>
        </form>
    </section>
    
    <section class="nav-section">
        <button class="rad-10">Login</button>
        <button class="rad-10">Signup</button>
    </section>
</nav>

