<nav class="main-navbar">
    <div class="nav-section">
        <a href="/" class="logo">GameSpace</a>
    </div>
    
    <div class="nav-section">
        <form>
            <input class="search-input" type="text" id="fname" name="fname">
            <a class="search-button">Search</a>
        </form>
    </div>
    
    <div class="nav-section">
        <a class="login">Login</a>
        <a class="login">Signup</a>
    </div>
</nav>

