/* _content/gamespace/Components/Containers/BannerContainer.razor.rz.scp.css */
.banner-container[b-xbu5998m0l] {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    width: 1080px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px #121212;
}

.banner-image[b-xbu5998m0l] {
    top: 0;
    width: 100%;
    object-fit:fill;
    border-radius: 20px;
}

.banner-buttons[b-xbu5998m0l] {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 32px;
}

.banner-button[b-xbu5998m0l] {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 200px;
    height: 40px;
    padding: 16px;
    background-color: #121212;
    border-radius: 10px;
    border: 2px solid #fffc5a;
    box-shadow: 0px 5px 10px #121212;
    color: white;

    cursor: pointer;
}

.banner-button:hover[b-xbu5998m0l] {
    transform:scale(1.05);
}
/* _content/gamespace/Components/Containers/GameCardContainer.razor.rz.scp.css */
.game-card-container[b-e0wdd07vkt] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: fit-content;
    gap: 8px;
}
/* _content/gamespace/Components/Containers/GenresContainer.razor.rz.scp.css */
.genres-container[b-j3p62ftx58] {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;

    margin: 16px;
    width: 1080px;
}

.genres-set[b-j3p62ftx58] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 300px;
    margin-left: 32px;
    margin-right: 32px;
}
/* _content/gamespace/Components/Containers/GenreSelection.razor.rz.scp.css */
.genre-selection[b-tn3ymew7ud] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 8px;
    max-width: 1080px;
    padding: 8px;
}

.genre-selector[b-tn3ymew7ud] {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    
    width: 140px;
    height: 40px;
    padding: 8px;
    
    border: 2px solid white;
    border-radius: 10px;
    color: white;

    cursor:pointer;
}

.genre-selector:hover[b-tn3ymew7ud] {
    background-color: rgb(230, 230, 230);
    color: black;
    border-color: #fffc5a;
}

.selected[b-tn3ymew7ud] {
    background-color: rgb(230, 230, 230);
    color: black;
    border-color: #fffc5a;
}
/* _content/gamespace/Components/Containers/PlatformSelection.razor.rz.scp.css */
.platform-selection[b-71nub47kgc] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 8px;
    max-width: 1080px;
    padding: 8px;
}

.platform-selector[b-71nub47kgc] {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    
    width: 140px;
    height: 40px;
    padding: 8px;
    
    border: 2px solid white;
    border-radius: 10px;
    color: white;

    cursor:pointer;
}

.platform-selector:hover[b-71nub47kgc] {
    background-color: rgb(230, 230, 230);
    color: black;
    border-color: #fffc5a;
}

.selected[b-71nub47kgc] {
    background-color: rgb(230, 230, 230);
    color: black;
    border-color: #fffc5a;
}
/* _content/gamespace/Components/Containers/ReelContainer.razor.rz.scp.css */
.reel-container[b-s349tgmjyz] {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 280px;
    gap: 32px;
    padding: 16px;

    background-color:  #121212;
    overflow:hidden;
}

a[b-s349tgmjyz] {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
    background-color: #121212;
}

.reel-images[b-s349tgmjyz] {
    box-shadow: 0px 5px 10px #000000;
    cursor: pointer;
}

.reel-slider[b-s349tgmjyz] {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 16px;

    transition: transform 0.3s ease;
}

.middle[b-s349tgmjyz] {
    transform: translateX(0px);
}

.right-1[b-s349tgmjyz] {
    transform: translateX(-832px);
}

.right-2[b-s349tgmjyz] {
    transform: translateX(-1664px);
}

.left[b-s349tgmjyz] {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    padding: 16px;
    z-index: 1;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.right[b-s349tgmjyz] {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    padding: 16px;
    z-index: 1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.right:hover[b-s349tgmjyz], .left:hover[b-s349tgmjyz] {
    background-color: #181a1b;
}
/* _content/gamespace/Components/Layout/Footer.razor.rz.scp.css */
.main-footer[b-d2aph8k6cx] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 64px;
    width: 100%;
    padding: 32px;
    margin-top: 32px;

    background-color: #121212;
}

p[b-d2aph8k6cx] {
    color: white;
    margin: 0;
}

.footer-content[b-d2aph8k6cx] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap:8px;
    width: 200px;
}

.socials[b-d2aph8k6cx] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 4px;
}
/* _content/gamespace/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-pdrag3v85z] {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 64px;

    background-color: #181a1b;
}

#blazor-error-ui[b-pdrag3v85z] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-pdrag3v85z] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/gamespace/Components/Layout/NavMenu.razor.rz.scp.css */
.main-navbar[b-kl78mwsty2] {
    position: fixed;
    top:0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 64px;
    padding: 32px;

    box-shadow: 0px 1px 4px #121212;
    background-color:  #121212;

    z-index: 5;
}

.nav-section[b-kl78mwsty2] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 40px;
    gap: 16px;
}

.logo[b-kl78mwsty2] {
    text-decoration: none;
    font-size: 2rem;
    cursor:pointer;
    color: white;
}

.search-button[b-kl78mwsty2] {
    text-decoration: none;
    color: white;
    padding: 8px;
}

.login[b-kl78mwsty2] {
    padding: 4px;
    text-decoration: none;
    background-color: #121212;
    color: white;
}

a[b-kl78mwsty2] {
    cursor: pointer;
}

input[b-kl78mwsty2] {
    text-align: center;
}
/* _content/gamespace/Components/Pages/GamePage.razor.rz.scp.css */
.game-container[b-adxj62lrti] {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    gap: 32px;
}

.game-banner[b-adxj62lrti] {
    width: 100%;
    height: 340px;
    z-index: 0;
    background-color:rgb(0, 0, 39);
}

h2[b-adxj62lrti] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 0;
    margin-bottom: -16px;
    text-align: center;
    border-bottom: 2px solid #fffc5a;
}
/* _content/gamespace/Components/Pages/Home.razor.rz.scp.css */
.home-container[b-383in698in] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 32px;

    width: 100%;
}

.section-header[b-383in698in] {
    margin-top: 32px;
    text-align: center;
    color: white;
    border-bottom: 2px solid #fffc5a;
    padding-bottom: 8px;
}
/* _content/gamespace/Components/Pages/Search.razor.rz.scp.css */
.search-container[b-ari3gx8inx] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 32px;
    width: 100%;
    margin-top: 32px;
}
/* _content/gamespace/Components/Parts/GameCard.razor.rz.scp.css */
.game-card[b-t3qipg2lkx] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 180px;
    height: 360px;
    gap: 8px;
    margin: 8px;

    border: 1px solid transparent;
    box-shadow: 0px 5px 10px #121212;
    background-color: #121212;
    color: white;
}
.game-card:hover[b-t3qipg2lkx] {
    cursor: pointer;
    transform:scale(1.02);
}

.game-card-info[b-t3qipg2lkx] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: fit-content;
    padding: 8px;
    width: 100%;
}

.game-card-image[b-t3qipg2lkx] {
    width: 180px;
    height: 256px;
}

.game-card-name[b-t3qipg2lkx] {
    text-align: center;
}

p[b-t3qipg2lkx] {
    margin: 0;
}
/* _content/gamespace/Components/Parts/GameTitleCard.razor.rz.scp.css */
.game-title-card[b-9auu50wvcs] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    margin-top: -188px;
    gap: 32px;
    max-width: 1080px;
    z-index: 1;

    background-color: rgba(24,26,27,0.75);
    border-radius: 20px;
}

.game-title-cover[b-9auu50wvcs] {
    border-radius: 20px;
}

.game-title-summary[b-9auu50wvcs] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    min-height: 350px;
}

h2[b-9auu50wvcs] {
    color: white;
    font-size: 3rem;
    border-bottom: 4px solid white;
}

p[b-9auu50wvcs] {
    color: white;
    margin: 0;
    text-indent: 3rem;
}
/* _content/gamespace/Components/Parts/GenreCard.razor.rz.scp.css */
.genre-card[b-ayopgvqshu] {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    cursor:pointer;

    padding: 16px;
    margin: 4px;
    border-radius: 10px;
    width: 140px;
    height: 80px;

    color: white;
    background-color: #121212;
    border: 2px solid #121212;
    box-shadow: 0px 5px 10px #121212;
}

.genre-card:hover[b-ayopgvqshu] {
    transform:scale(1.05);
}

.green[b-ayopgvqshu] {
    border: 2px solid rgb(66, 156, 66);
}

.red[b-ayopgvqshu] {
    border: 2px solid rgb(167, 35, 35);
}

.blue[b-ayopgvqshu] {
    border: 2px solid rgb(42, 51, 182);
}
/* _content/gamespace/Components/Parts/PlatformCard.razor.rz.scp.css */
.platform-card[b-93ojr98v5o] {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    cursor:pointer;

    padding: 16px;
    margin: 4px;
    border-radius: 10px;
    width: 140px;
    height: 80px;

    color: white;
    background-color: #121212;
    border: 2px solid #121212;
    box-shadow: 0px 5px 10px #121212;
}

.platform-card:hover[b-93ojr98v5o] {
    transform:scale(1.05);
}
.yellow[b-93ojr98v5o] {
    border: 2px solid #fffc5a;
}

.green[b-93ojr98v5o] {
    border: 2px solid rgb(66, 156, 66);
}

.red[b-93ojr98v5o] {
    border: 2px solid rgb(167, 35, 35);
}

.blue[b-93ojr98v5o] {
    border: 2px solid rgb(42, 51, 182);
}
/* _content/gamespace/Components/Parts/PlatformsAndGenres.razor.rz.scp.css */
.platforms-genres-container[b-now084d7s7] {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    width: 100%;
    padding: 16px;
}

.genres[b-now084d7s7], .platforms[b-now084d7s7] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    max-width: 360px;
    flex-wrap: wrap;
    gap: 8px;
}

.platforms[b-now084d7s7] {
    justify-content: flex-start;
}

.genres[b-now084d7s7] {
    justify-content: flex-end;
}
