.banner-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    width: 1080px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px #121212;
}

.banner-image {
    top: 0;
    width: 100%;
    object-fit:fill;
    border-radius: 20px;
}

.banner-buttons {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 32px;
}

.banner-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 200px;
    height: 40px;
    padding: 16px;
    background-color: #121212;
    border-radius: 10px;
    border: 2px solid #fffc5a;
    box-shadow: 0px 5px 10px #121212;
    color: white;

    cursor: pointer;
}

.banner-button:hover {
    transform:scale(1.05);
}
