<div class="banner-container">
    <img class="banner-image" src="images/banner.png"/>
    <section class="banner-buttons">
        <a class="banner-button">New & Trending</a>
        <a class="banner-button">Popular Upcoming</a>
        <a class="banner-button">Genres</a>
        <a class="banner-button">News</a>
    </section>
</div>

@code {
   
}