@inject HttpClient httpClient


<div class="game-card-container">
    @if (games.Count() < 1) {
        <p>Loading</p>
    }
    else {
        for (int i = 0; i < games.Count(); i++) {
            <GameCard gameName=@games[i].Name thumbnail=@games[i].Cover.Image_Id rating=@games[i].Rating genre=@games[i].Genres.FirstOrDefault().Name/>
        }
    }
</div>

@code {
    public class Game
    {
        public int Id { get; set; } = 0;
        public Cover Cover { get; set; }
        public string Name { get; set; } = "";
        public double Rating { get; set; } = 0;
        public List<Genre> Genres { get; set; }
    }

    public class Cover
    {
        public int Id { get; set; } = 0;
        public string Image_Id { get; set; } = "";
    }

    public class Genre
{
    public int Id { get; set; }
    public string Name { get; set; }
}

    [Parameter]
    public string Endpoint {get; set;} = "";

    //call backend for gamedata
    @code {
    private List<Game>? games = new List<Game>();

    protected override async Task OnInitializedAsync()
    {
        var response = await httpClient.GetAsync($"http://localhost:5249/{Endpoint}");
        if (response.IsSuccessStatusCode)
        {
            games = await response.Content.ReadFromJsonAsync<List<Game>>();
            for (int i = 0; i < games.Count(); i++) {
                Console.WriteLine(games[i].Name);
            }
        }
        else
        {
            // Handle error
        }
    }
}

}