<div class="genres-container">
    <section class="genres-set">
        <GenreCard genre="Shooter" color="red"/>
        <GenreCard genre="Fighting" color="red"/>
        <GenreCard genre="Sports" color="red"/>
        <GenreCard genre="Arcade" color="red"/>
    </section>

    <section class="genres-set">
        <GenreCard genre="Adventure" color="green"/>
        <GenreCard genre="Platformer" color="green"/>
        <GenreCard genre="Music" color="green"/>
        <GenreCard genre="Racing" color="green"/>
    </section>

    <section class="genres-set">
        <GenreCard genre="RPG" color="blue"/>
        <GenreCard genre="Strategy" color="blue"/>
        <GenreCard genre="Puzzle" color="blue"/>
        <GenreCard genre="Simulator" color="blue"/>
    </section>
</div>

@code {

}