@page "/"
<PageTitle>Home</PageTitle>

<section class="home-container">
    <BannerContainer/>

    <h3 class="section-header">New & Trending</h3>
    <GameCardContainer Endpoint="populargames"/>

    <h3 class="section-header">Genres</h3>
    <GenresContainer/>

    <h3 class="section-header">Coming Soon</h3>
    <GameCardContainer Endpoint="comingsoongames"/>
</section>