.main-footer[b-d2aph8k6cx] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 64px;
    width: 100%;
    padding: 32px;
    margin-top: 32px;

    background-color: #121212;
}

p[b-d2aph8k6cx] {
    color: white;
    margin: 0;
}

.footer-content[b-d2aph8k6cx] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap:8px;
    width: 200px;
}

.socials[b-d2aph8k6cx] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 4px;
}