<div class="game-card">
    <img class="game-card-image">
    <p>@GameName</p>
    <section class="game-card-info">
        <p>@Genre</p>
        <p>@Rating</p>
    </section>
</div>

@code {
    [Parameter]
    public string GameName { get; set; } = "";
    [Parameter]
    public string Genre { get; set; } = "";
    [Parameter]
    public string Rating { get; set; } = "";
}