<NavLink href="@($"/game/{id}")">
    <div class="game-card">
        <img src=@url class="game-card-image">
        <p class="game-card-name">@gameName</p>
        <section class="game-card-info">
            <p>@genre</p>
            <p>@displayRating</p>
        </section>
    </div>
</NavLink>

@code {
    [Parameter]
    public string gameName { get; set; } = "";
    [Parameter]
    public string genre { get; set; } = "Genre";
    [Parameter]
    public double rating { get; set; } = 0;
    [Parameter]
    public string thumbnail { get; set; } = "";
    [Parameter]
    public int id { get; set; } = 0;
    
    private string url = "";
    private int displayRating = 0;

    protected override async Task OnInitializedAsync()
    {
        url = $"https://images.igdb.com/igdb/image/upload/t_cover_big/{@thumbnail}.jpg";
        displayRating = (int)rating;
    }
}