<div class="game-card">
    <img src=@url class="game-card-image">
    <p>@gameName</p>
    <section class="game-card-info">
        <p>@genre</p>
        <p>@rating</p>
    </section>
</div>

@code {
    [Parameter]
    public string gameName { get; set; } = "";
    [Parameter]
    public string genre { get; set; } = "";
    [Parameter]
    public double rating { get; set; } = 0;
    [Parameter]
    public string thumbnail { get; set; } = "";
    public string url {get; set;} = "";

    protected override async Task OnInitializedAsync()
    {
        url = $"https://images.igdb.com/igdb/image/upload/t_cover_big/{@thumbnail}.jpg";
    }
}