.websites-container {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.websites-games {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
    width: 100%;
    gap: 8px;
}

.website-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: white;
    cursor: pointer;

}

.website-panel:hover {
    transform:scale(1.05);
}